<div
  class="box-wrap"
  itemprop="event"
  itemscope
  itemtype=" http://schema.org/Course"
>
  <div class="img-wrap" itemprop="image">
    <img src="<%= admin.imagen %>" alt="courses picture" />
  </div>
  <div class="box-body" itemprop="description">
    <h2>
        <%= admin.nombre %>
    </h2>
    <h3>
        <%= admin.puesto %>
    </h3>
    <p>
        <%= admin.descripcion %>
    </p>
  </div>
</div>
