<div class="customer-item" itemscope itemtype="http://schema.org/Rating">
  <div class="border">
    <div class="customer">
      <figure>
        <img
          class="customer-img"
          src="<%= dev.imagen %>"
          alt="Person image"
        />
        <figcaption>
          <span itemprop="author"><%= dev.nombre %></span>
        </figcaption>
      </figure>
    </div>
    <div class="customer-review">
      <p itemprop="description">Puesto: <%= dev.puesto %></p>
      <p itemprop="description">Carnet: <%= dev.carnet %></p>
    </div>
  </div>
</div>
