<footer class="page-footer">
    <div class="footer-last-section">
      <div class="container">
        <p>
          Copyright 2022 &copy; UCRON <span> | </span> Hostname: <%= hostname %>
        </p>
      </div>
    </div>
</footer>