<div class="gallery-img-wrap">
    <a
      href="<%= image.url %>"
      data-lightbox="example-set"
      data-title="Click the right half of the image to move forward."
    >
      <img src="<%= image.url %>" alt="gallery-images" />
    </a>
</div>