<header class="site-header">
  <div class="main-header">
    <div class="container">
      <div class="nav-wrap">
        <nav class="nav-desktop">
          <ul class="menu-list">
            <li><a href="/index">Home</a></li>
            <li><a href="/administrators">Admins</a></li>
            <li><a href="/developers">Developers</a></li>
          </ul>
        </nav>
        <div id="bar">
          <i class="fas fa-bars"></i>
        </div>
        <div id="close">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
</header>
