<!DOCTYPE html>
<html>
  <head>
    <title>UCRON Page</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link rel="stylesheet" type="text/css" href="css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.rateyo.css" />
    <link rel="stylesheet" type="text/css" href="inner-page-style.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      id="page"
      class="site"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <%- include('../partials/header'); %>
      <!-- Header Close -->
     
      <div class="page-heading">
        <div class="container">
          <h2>Ucron Team</h2>
        </div>
      </div>
      <!-- Popular courses End -->
      <div class="learn-courses">
        <div class="container">
          <div class="courses">
            <div class="owl-one owl-carousel">

              <% admins.forEach(function(admin){ %>
                <%- include('../partials/admins', {admin: admin}); %>
              <% }); %>

            </div>
          </div>
        </div>
      </div>
      
      
      <%- include('../partials/footer', {hostname, hostname}); %>
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jquery.rateyo.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
