<!DOCTYPE html>
<html>
  <head>
    <title>UCRON Page</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link rel="stylesheet" type="text/css" href="css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.rateyo.css" />
    <link rel="stylesheet" type="text/css" href="inner-page-style.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      id="page"
      class="site"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <%- include('../partials/header'); %>
      <!-- Header Close -->

      <section class="what-other-say" style="margin-top: 5rem">
        <div class="container">
          <h4 class="article-subtitle">About</h4>
          <h2 class="head">Our IT team:</h2>
          <div class="three owl-carousel owl-theme">

            <% devs.forEach(function(dev){ %>
              <%- include('../partials/devs', {dev: dev}); %>
            <% }); %>

          </div>
        </div>
      </section>
      <!-- End of Others talk -->
      <%- include('../partials/footer', {hostname, hostname}); %>
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jquery.rateyo.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
