<!DOCTYPE html>
<html>
  <head>
    <title>UCRON Page</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link rel="stylesheet" type="text/css" href="css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.rateyo.css" />
    <link rel="stylesheet" type="text/css" href="inner-page-style.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      id="page"
      class="site"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <%- include('../partials/header'); %>
      <!-- Header Close -->
      <div class="banner">
        <div class="owl-four owl-carousel" itemprop="image">
          <img src="images/15.jpg" alt="Image of Bannner" />
          <img src="images/14.jpg" alt="Image of Bannner" />
          <img src="images/13.jpg" alt="Image of Bannner" />
        </div>
        <div class="container" itemprop="description">
          <h1>welcome to ucron page</h1>
          <h3>
            Here, visitors enjoy lovely tropical beaches, grand adventures, the
            wonders of nature and scintillating culture - all the necessary
            components of an ideal vacation or holiday. No wonder thousands have
            made Ucron their top travel choice!
          </h3>
        </div>
        <div id="owl-four-nav" class="owl-nav"></div>
      </div>

      <section class="whyUs-section">
        <div class="container">
          <div class="featured-points">
            <ul>
              <li><i class="fas fa-swimmer"></i> Puntarenas</li>
              <li><i class="fas fa-swimming-pool"></i> South Pacific</li>
              <li><i class="fas fa-umbrella-beach"></i> Northern Plains</li>
            </ul>
          </div>
          <div class="whyus-wrap">
            <h1>why us?</h1>
            <p itemprop="description">
              Located on the central Pacific coast, the Puntarenas region
              extends from Punta Conejo south to Puerto Caldera to the mouth of
              the Bongo River. The region’s rich coastline overlooks small
              islands, inlets, beaches and beautiful natural wonders. The port
              town of Puntarenas serves as the center of the region and is home
              port to a ferry that carries visitors over to the tip of the
              Nicoya Peninsula.
            </p>
            <p itemprop="description">
              Located on the Osa Peninsula, the South Pacific region is a haven
              for those looking to experience the unspoiled beauty of Costa
              Rica. The opportunities for exploration and action here include
              watching the magnificent humpback whale migration, exploring the
              mangrove habitat, casting a line sport fishing or getting out on
              the water surfing. The area is also home to Corcovado National
              Park, the largest of Costa Rica's parks and Marino Ballena
              National Park, which features the recognizable “whale’s tail”.
            </p>
            <p itemprop="description">
              Recognized as home of Arenal Volcano National Park, which boasts
              75% of Costa Rica’s bird population, the Northern Plains present
              endless activities for visitors. Excursions range from hiking and
              waterfall rappelling to canopying and exploring via a hanging
              bridge tour. Those looking for activities on the water will find
              that Lake Arenal is an ideal location for canoeing, fishing and
              kite surfing.
            </p>
          </div>
        </div>
      </section>
      <!-- Closed WhyUs section -->
      <section class="page-heading">
        <div class="container">
          <h2>gallery</h2>
        </div>
      </section>
      <section
        class="gallery-images-section"
        itemprop="image"
        itemscope
        itemtype=" http://schema.org/ImageGallery"
      >

      <% images.forEach(function(image){ %>
        <%- include('../partials/galery', {image: image}); %>
      <% }); %>

      </section>

      <!-- End of Others talk -->
      <%- include('../partials/footer', {hostname, hostname}); %>
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/jquery.rateyo.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>
